:root {
    --orange: white;
    --background-grey: #e7e7e7;
    --dark-gray: rgb(70, 68, 68);
    --blue: #05cdff;
    --brown: rgb(255, 115, 0)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    background: black;
    height: 100vh;
    /*width: 100vw;*/
    box-sizing: border-box;
    min-height: fit-content;
    /*min-width: fit-content;*/

}

#chart-area {
    margin: 16px 0;
    width: 80%;
    height: 80%;
    max-height: 1200px;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;

}

#chart {
    width: 90%;
    height: 90%;

}

#title {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;
}

#coins-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    color: white;

}

.coins-title {
    color: var(--blue);
}


.drop-down {
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 8px;
     color: white;
    border: none;

}

#signals {
    min-height: 350px;
    width: 80%;
    max-width: 1200px;
    border-radius: 8px;
    padding: 16px;
    min-width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signal {
    padding: 16px;
}

h3#signals-heading {
    justify-self: flex-start;
    color: white;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}


.signal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 14px;
    width: 100%;
    /*min-width: 800px;*/
    /*border: 1px solid rgb(70, 68, 68);*/
    padding: 32px;
    border-radius: 8px;
}

.item {
    padding: 16px 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.data {
    /* padding: 4px 16px 4px 8px; */
    padding: 16px 8px;
    border-bottom: 1px solid rgb(70, 68, 68);
    color: white;
    font-size: 16px;

}

.symbol {
    border-radius: 8px 0 0 8px;
    padding-left: 16px;
}

.tp {
    border-radius: 0 8px 8px 0;
}

.time {
    min-width: 135px;
}

#signal-data {
    font-size: 14px;
}

.heading-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    border: 1px solid var(--dark-gray);

}

.select-coin {
    border-radius: 16px;
    padding-right: 8px;

}

select {
    border: none;
    background: transparent;
    outline: none;

}

option {
    color: black
}

.coins-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    padding-left: 12px;
    
}


h3 {
    margin: 0;
}

div.buy {
    color: rgb(8, 195, 228);
    font-weight: bold;
    text-transform: capitalize;
}

div.sell {
    color: rgb(255, 115, 0);
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    html {
        width: 100%;
        height: 100%;
    }
    body {
        /*font-size: 24px;*/
        width: 100%;
        height: 100%
    }

    select.drop-down {
        /*font-size: 24px;*/
    }

    h5.coins-title {
        font-size: 16px;
    }

    .signal {
        width: 100%;
        flex-direction: column;

    }

    #chart-area {
        width: 100%;
        height: 50%;
    }
    h3.signals-heading {
        font-size: 40px;
    }
    div.data {
        /*font-size: 20px;*/
    }

    div.signal {
        /*width: 600px;*/
        /*max-width: 600px;*/
        /*overflow: scroll;*/
    }
    .item {
        padding: 8px 4px;
    }
    .data {
        padding: 8px 4px;

    }
    #title {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        background: black;
        border-bottom: 1px solid #313030FF;
    }
}